{% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for n in page_objects.paginator.page_range %}
                {% if page_objects.number == n %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                    </li>
                {% elif n > page_objects.number|add:-3 and n < page_objects.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}